<%- include('partials/header') %>
  <form action="/register" method="post">
    <input type="text" name="username" value=<%=email%> ><br>
    <input type="text" name="password" value="" placeholder="password"><br>
    <button type="submit" name="button">Submit</button>
    <!-- <button type="submit" name="" value=""> -->
  </form>
    <!-- <header class="showcase">
            <div class="logo">
                <img src="https://i.ibb.co/r5krrdz/logo.png">
            </div>
            <div class="showcase-content">
                <div class="formm">
                    <form>
                        <h1>Sign In</h1>
                        <div class="info">
                            <input class="email" type="email" placeholder="Email or phone number"> <br>
                            <input class="email" type="password" placeholder="Password">
                        </div>
                        <div class="btn">
                            <button class="btn-primary" type="submit">Sign In</button>
                        </div>
                        <div class="help">
                            <div>
                                <input value="true" type="checkbox"><label>Remember me</label>
                            </div>

                            <a href="https://www.netflix.com/dz-en/LoginHelp">Need Help ?</a>

                        </div>

                    </form>

                </div>
                <div class="signup">
                    <p>New to Netflix ?</p>
                    <a href="/">Sign up now</a>
                </div>
                <div class="more">
                    <p>
                        This page is protected by Google reCAPTCHA to ensure you're not a bot. <a href="#">Learn more.</a>
                    </p>
                </div>


            </div> -->
<%- include('partials/footer') %>
